{{define "day_tabs"}}
{{range $wi, $week := .Weeks}}
<div class="days-week-block">
  <span class="days-week">{{t "tab.week"}} {{add $wi 1}}</span>
  <div class="days-week-grid">
    {{range $ci, $col := $week.Days}}
    {{if $col}}
    <button type="button" class="tabs__tab tabs__tab--day{{if $col.Weekend}} tabs__tab--weekend{{end}}{{if eq $col.DayIndex 0}} is-active{{end}}" data-tab="day-{{$col.DayIndex}}">
      <span class="tabs__wd">{{(index $.Headers $ci).Label}}</span>
      <span class="tabs__sub">{{fmtDate $col.Date}}</span>
    </button>
    {{else}}
    <span class="tabs__tab--empty" aria-hidden="true"></span>
    {{end}}
    {{end}}
  </div>
</div>
{{end}}
{{end}}

